/* タブレット向けレイアウト */
@media all and (max-width: 1024px)
{
    h1
    {
        font-size: 45px;/*50 45 40*/
    }

    h2
    {
        font-size: 25px;/*25 25 25*/
    }

    .container
    {
        width: 98%;
        margin: 0 auto;
    }

    header p
    {
        font-size: 21px;/*23 21 21*/
    }

    .place
    {
        font-size: 45px;/*50 45 40*/
        padding-top: 80px;
        margin-bottom: 0px;
        display: inline-block;
    }

    .votes
    {
        font-size: 25px;
        padding-right: 50px;
        margin-bottom: 0px;
        text-align: right;
    }

    .main-top-wrapper .work-wrapper
    {
        margin-bottom: 100px;/*150 100 50*/
    }

    .main-wrapper h2
    {
        margin: 0 auto;
        font-size: 30px;
    }

    .number
    {
        font-size: 70px;/*80 70 62*/
        margin-bottom: 10px;
        letter-spacing: 8px;
        border-bottom: solid 2px rgb(180, 180, 180);
        float: none;
    }

    .work-wrapper
    {
        width: auto;
        margin-bottom: 150px;/*200 150 100*/
        float: none;
        text-align: center;
    }

    .frame
    {
        width: 100%;
        height: auto;
    }

    .work
    {
        width: 90%;
        height: auto;
    }

    .work-narrow
    {
        width: 50%;
        height: auto;
    }

    .author
    {
        margin-right: 120px;
    }
}

/* モバイル向けレイアウト */
@media all and (max-width: 767px)
{
    h1
    {
        font-size: 40px;
    }

    .theme-summary
    {
        font-size: 18px;/*19 19 18*/
    }

    .place
    {
        font-size: 40px;/*50 45 40*/
        padding-top: 80px;
        margin-bottom: 0px;
        display: inline-block;
    }

    .votes
    {
        font-size: 25px;
        padding-right: 50px;
        text-align: right;
    }

    .main-top-wrapper .work-wrapper
    {
        margin-bottom: 50px;
    }

    .main-wrapper h2
    {
        margin: 0 auto;
        font-size: 27px;/*30 30 27*/
    }

    .number
    {
        font-size: 62px;
        margin-bottom: 10px;
        letter-spacing: 8px;
        border-bottom: solid 2px rgb(180, 180, 180);
    }

    .work-wrapper
    {
        width: auto;
        margin-bottom: 100px;
        float: none;
        text-align: center;
    }

    .frame
    {
        width: 100%;
        height: auto;
    }

    .work
    {
        width: 90%;
        height: auto;
    }

    .work-narrow
    {
        width: 50%;
        height: auto;
    }

    .author
    {
        font-size: 22px;/*25 25 22*/
        display: block;
        margin: 25px 50px;
    }

    .title
    {
        font-size: 22px;/*25 25 22*/
        display: block;
        margin: 25px 50px;
    }

    .comment
    {
        font-size: 18px;/*20 20 18*/
        margin-top: 10px;
    }
}
